services:
  db:
    image: postgres:18-alpine
    ports: 
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./postgres/sample-data:/docker-entrypoint-initdb.d
    environment:
      TZ: Asia/Tokyo
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

volumes:
  db-data:
